---
import LayoutTools from "../layouts/LayoutTools.astro";
import AgentChat from "../components/AgentChat.vue";

---

<LayoutTools title="Agent">

    <div class="container mx-auto p-4 min-h-screen flex flex-col">
        <div
          class="bg-[#C73659] border-4 border-[#A91D3A] rounded p-4 mx-auto w-full"
        >
          <h1 class="text-3xl font-semibold text-red-900">ChatBot</h1>
        </div>
    
        <div class="mt-6 grid grid-cols-4 gap-6 flex-grow">
          <div
            style="height: 84vh"
            class="bg-[#EEEEEE] border-2 border-[#C73659] p-6 rounded-md h-full"
          >
            sidebar
          </div>
    
          <div
            id="chat"
            style="height: 84vh"
            class="bg-[#EEEEEE] border-2 border-[#C73659] p-6 rounded-md col-span-3 flex flex-col overflow-y-auto justify-between"
          >

          <AgentChat client:visible></AgentCha>

          </div>
        </div>
      </div>
</LayoutTools>

<style></style>
