---
import LayoutSquare from "../layouts/LayoutSquare.astro";
import ChatBot from "../components/ChatBot.vue";

---

<LayoutSquare title="chatbot">

  <div>
    <ChatBot client:visible/>
  </div>
</LayoutSquare>

<style></style>
