---
import LayoutSquare from "../layouts/LayoutSquare.astro";
import LangChain from "../components/LangChain.vue";

---

<LayoutSquare title="LangChain">

  <div>
    <LangChain client:visible/>
  </div>
</LayoutSquare>

<style></style>
